*{
    box-sizing: border-box;
}

body{
    background: rgb(113, 52, 228) ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.e{
    font-family: "Dancing Script", cursive;
}
.phone{
    position: relative;
    overflow-x: hidden;
    border: 3px solid #eee;
    height: 100vh;
    width: 100vw;
}

.phone .content {
    display: none;
    object-fit: cover;
    position: relative;
    top: 0px;
    left: 0;
    transition: opacity 0.4s ease;
}

.phone .content.show {
   display: grid;
}

nav{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: -5px;
    width: 100%;
}

nav ul{
    background-color: #80da9e;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 60px;
}

nav li {
    color: #777;
    cursor: pointer;
    flex: 1;
    padding: 10px;
    text-align: center;

}

nav ul li p {
    font-size: 12px;
    margin: 2px 0;
}

nav ul li:hover, nav ul li.active {
   color: #8e44ad;
}

.contain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    margin-left: 20px;
    gap: 30px;
}

.contain  div{
    
    width: 160px; height: 148px;
    background-color: #8e44ad;
}
.books{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    margin-left: 20px;
    gap: 20px;
}


.item1{
    background-image: url('4.png');
}
.item2{
    background-image: url('1.png');
}
.item3{
    background-image: url('5.png');
}
.item4{
    background-image: url('2.png');
}
.item4{
    background-image: url('2.png');
}
.item5{
    background-image: url('6.png');
}
.item6{
    background-image: url('3.png');
}

.books  div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #1a084b;
    border: 2px solid black;
    width: 160px; height: 148px;
    background: url('images.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.middle-content{
    color: #000;
    padding-top: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 2, 85);
}
